extends layout

block header
  script(src='/javascripts/lib/jquery-2.2.0.min.js')
  script(src='/javascripts/lib/three.min.js')
  script(src='/javascripts/lib/OrbitControls.js')
  script(src='/javascripts/lib/underscore-min.js')
  script(src='/javascripts/render/GameScene.js')
  script(src='/javascripts/script/EventEmitter.js')
  script(src='/javascripts/script/Game.js')
  script(src='/javascripts/script/MonoBehavior.js')
  script(src='/javascripts/script/Player.js')
  script(src='/javascripts/script/OrbitControls.js')
  script(src='/javascripts/script/SampleClass.js')

block content
  script(src='/javascripts/main.js')
