extends layout

block header
  script(src='/javascripts/game-settings.js')

  script(src='/javascripts/lib/jquery-2.2.0.min.js')
  script(src='/javascripts/lib/three.min.js')
  script(src='/javascripts/lib/OrbitControls.js')
  script(src='/javascripts/lib/underscore-min.js')
  script(src="/javascripts/lib/leap-0.6.3.min.js")
  script(src="/javascripts/lib/leap-plugins-0.1.11.min.js")

  script(src='/javascripts/render/GameScene.js')

  script(src='/javascripts/script/EventEmitter.js')
  script(src='/javascripts/script/Game.js')
  script(src='/javascripts/script/MonoBehavior.js')
  script(src='/javascripts/script/Player.js')
  script(src='/javascripts/script/OrbitControls.js')
  script(src='/javascripts/script/SampleClass.js')
  script(src='/javascripts/script/Door.js')
  script(src='/javascripts/script/FieldGenerator.js')
  script(src='/javascripts/script/StartScene.js')
  script(src='/javascripts/script/KeyController.js')
  script(src='/javascripts/script/LeapController.js')
  script(src='/javascripts/script/Time.js')

block content
  div#titlePane.hidden
    p ruNNing AWay
  // script(src='/javascripts/main.js')
  div#result
    h1 Result
    p
      span You opened
      &nbsp;
      span#doorNum
      &nbsp;
      span doors
