extends layout

block header
  link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Creepster|Frijole|Salsa|Megrim|IM+Fell+DW+Pica+SC|Ravi+Prakash")

  script(src='javascripts/game-settings.js')

  script(src='javascripts/lib/jquery-2.2.0.min.js')
  script(src='javascripts/lib/three.min.js')
  script(src='javascripts/lib/OrbitControls.js')
  script(src='javascripts/lib/leap-0.6.3.min.js')
  script(src='javascripts/lib/leap-plugins-0.1.11.min.js')

  script(src='javascripts/render/GameScene.js')

  script(src='javascripts/script/EventEmitter.js')
  script(src='javascripts/script/Game.js')
  script(src='javascripts/script/MonoBehavior.js')
  script(src='javascripts/script/ScreenTransition.js')
  script(src='javascripts/script/Player.js')
  script(src='javascripts/script/OrbitControls.js')
  script(src='javascripts/script/SampleClass.js')
  script(src='javascripts/script/Door.js')
  script(src='javascripts/script/FieldGenerator.js')
  script(src='javascripts/script/StartScene.js')
  script(src='javascripts/script/ResultScene.js')
  script(src='javascripts/script/KeyController.js')
  script(src='javascripts/script/LeapController.js')
  script(src='javascripts/script/Timer.js')
  script(src='javascripts/script/ComboCounter.js')
  script(src='javascripts/script/BGM.js')
  script(src='javascripts/script/AudioManager.js')

block content
  div(name='leftPane')
  div(name='rightPane')

  div#titlePane
    p#title
      span ru
      span.colored NN
      span ing
      | &nbsp;
      span.colored AW
      span ay
    p.jp すべてのドアを開けたらゲームスタート！30秒間タイミングよくドアを開けて、より遠くへ

  div#comboCounter.hidden
    p
      span.small x
      span#combo

  div#timer.hidden
    p
      span#remainingTime
      span sec

  div#result.hidden
    div#resultContents
      h1 - Game Finished -
      h2 Result
      p door × combo = score
      p
        span#doorNum.resultNumber
        | &nbsp; × &nbsp;
        span#maxCombo.resultNumber
        | &nbsp; = &nbsp;
        span#score.resultNumber

      //- p
      //-   span You opened
      //-   | &nbsp;
      //-   span#doorNum.resultNumber
      //-   | &nbsp;
      //-   span doors
      //- p
      //-   | Your max combo is &nbsp;
      //-   span#maxCombo.resultNumber

  script(src='javascripts/main.js')
