extends layout

block header
  link(rel="stylesheet", type="text/css" href="/stylesheets/index-style.css")

block content
  div#wrapper
    h1.title.
      <span>4</span>.<span>J</span>S
    p Your magic experience
    h3.pages
      a(href="https://github.com/13J-Programmers/4J-class-project", target="_blank") view On Github
    h3.pages
      a(href="game/" target="_blank") Play Game

block footer
  footer
    p Copyright 2016 &copy; 13J-Programmers
