extends layout

block header
  link(rel="stylesheet", type="text/css" href="/stylesheets/index-style.css")

block content
  div#wrapper
    div#menu
      h1#title - DOOR -
      h2#play
       a(href="game/") Play

    div#container
      script(src='/javascripts/lib/three.min.js')
      script(src='/javascripts/index.js')
