extends layout

block header
  link(rel="stylesheet", type="text/css" href="/stylesheets/index-style.css")

block content
  div#wrapper
    div#spacer
    div#titleblock
      h2.title
        メイド
      h2.title
        イン
      h2.title
        ４J
    div#linkblock
      h3.pages
        a(href="game/" target="_blank") ゲームであそぶ
      h3.pages
        a(href="https://github.com/13J-Programmers/4J-game/" target="_blank") ぎっとはぶ

block footer
  footer
    p Copyright 2016 &copy; 13J-Programmers
