extends layout

block header
  link(rel="stylesheet", type="text/css" href="/stylesheets/index-style.css")

block content
  div#wrapper
    div#menu
      p.title
        span ru
        span.colored NN
        span ing
      p.title
        span.colored AW
        span ay
      h2#play
        a(href="game/") Play

    div#container
      script(src='/javascripts/lib/three.min.js')
      script(src='/javascripts/index.js')
