@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
    background-color: #000;
    font: 16px/20px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
    margin: 0px;
    overflow: hidden;
}

#wrapper{
    width: 80%;
    margin: 0 auto;
}

#menu {
    float: left;
    width: 20%;
    text-align: center;
    font-family: "Merriweather"
}

#title {
    font-size: 3rem;
    margin-top: 110%;
    color: #FFF;
/*              padding-top: 20px;
    padding-bottom: 20px;
    padding-left: -30px;
    padding-right: -30px;
    border: 1px solid #FFF;*/
}

#play {
    color: #FFF;
    margin-top: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: -30px;
    padding-right: -30px;
    border: 1px solid #FFF;
}

#container {
    margin-left: 20%;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #ff0080;
}