/* css for 4J-class project */

@import url(https://fonts.googleapis.com/css?family=Fauna+One);

@font-face {
    font-family: "lanovePOP";
    src: url(../fonts/lightnovelPOP.otf) format('opentype');
}

body {
    font: 16px/20px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background-color: #F7D358;
}

#wrapper {
    margin: 0 auto;
    text-align: center;
}

#spacer {
    margin-top: 130px;
}

#titleblock {
    width: 25%;
    margin: 0 auto;
    /*text-align: left;*/
}

#linkblock {
    width: 25%;
    margin: 0 auto;
    /*text-align: left;*/
}

.title {
    font-family: "lanovePOP";
    font-size: 800%;
    color: #FA8258;
    text-align: left;
}

h1 span {
    color: #0099CC;
}

a, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.pages {
    /*margin-left: 20px;*/
    /*padding-left: 50px;*/
    /*float: left;*/
    /*margin-top: 180px;*/
    font-family: "lanovePOP";
    font-size: 300%;
    text-align: right;
}

#catch {
    /*text-align: center;*/
    margin-top: -50px;
    margin-bottom: 100px;
    font-family: "Fauna One";
    font-size: 240%;
    color: #FFFFFF;
}

footer {
    margin-top: 100px;
    height: 68px;
}

footer p {
    text-align: center;
    padding-top: 24px;
}
