/* THREE.js */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1.6em;
}
canvas {
  width: 100%;
  height: 100%;
}

#titlePane {
  background-color: #231f20;
  color: #FFF;
  font-family: Montserrat;
  font-size: 5em;
  width: 100%;
  height: 30%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  /*margin: 0 auto;*/
}

.hidden {
  display: none;
}
